<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Reminders</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
   <nav class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'patient_registration' %}">Patient Registration</a></li>
            <li><a href="{% url 'patient_login' %}">Patient Login</a></li>
            <li><a href="{% url 'employee_registration' %}">Employee Registration</a></li>
            <li><a href="{% url 'employee_login' %}">Employee Login</a></li>
        </ul>
    </nav>
<h1>Your Appointments</h1>
    <ul>
        {% for appointment in appointments %}
            <li>{{ appointment.date }} at {{ appointment.time }} with {{ appointment.patient.first_name }} {{ appointment.patient.last_name }} {% if not appointment.confirmed %}<a href="{% url 'confirm_appointment' appointment.id %}>Confirm</a>{% endif %}</li>
        {% endfor %}
    </ul>
</body>
</html>