{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Reminders</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
   <nav class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'patient_registration' %}">Patient Registration</a></li>
            <li><a href="{% url 'patient_login' %}">Patient Login</a></li>
            <li><a href="{% url 'employee_registration' %}">Employee Registration</a></li>
            <li><a href="{% url 'employee_login' %}">Employee Login</a></li>
        </ul>
    </nav>

   <h1>Appointment Reminders</h1>
<form class="form-control" method="POST" action="{% url 'create_appointment_reminder' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="submit" type="submit">Create Appointment Reminder</button>
</form>
<script src="{% static 'javascript/index.js' %}"></script>
</body>
</html>
