{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
   <nav class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'patient_registration' %}">Patient Registration</a></li>
            <li><a href="{% url 'patient_login' %}">Patient Login</a></li>
            <li><a href="{% url 'employee_registration' %}">Employee Registration</a></li>
            <li><a href="{% url 'employee_login' %}">Employee Login</a></li>
             <li><a href="{% url 'create_billing_reminder' %}">Billing Reminders</a></li>
            <li><a href="{% url 'create_appointment_reminder' %}">Patient Appointment Reminders</a></li>
            <li><a href="{% url 'billing_statements' %}">Billing Statement</a></li>
        </ul>
    </nav>
   <section class="main">
        <h1>Welcome, {{ employee_profile.first_name }}!</h1><br><br>
        {% if employee_profile.image %}
        <img class="image" src="{{ employee_profile.image.url }}" alt="Employee Photo" style="width: 200px; align-content: center;">
    {% endif %}
    <p>Is your profile up-to-date? <a href="{% url 'employee_profile' pk=employee_profile.pk %}">Update Profile</a></p>
    {% if appointments_exist %}
        <a href="{% url 'appointment_list' %}">
            <img id="appointments" src="{% static 'media/images/appointments.jpeg' %}" alt="Appointments" style="width: 200px; align-content: center;"> 
        </a>
    {% endif %}
</section>
</body>
</html>